@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins text-[20px] bg-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black font-noto;
}

p {
  @apply text-black font-poppins;
}

.h1 {
  @apply text-[64px] lg:text-[84px] leading-none;
  font-weight: 400;
}

.h2 {
  @apply text-[2rem] lg:text-[3rem] leading-none;
  font-weight: 600;
}

.h3 {
  @apply text-[1.8rem] lg:text-[2.6rem] leading-none;
}

.h4 {
  @apply text-[1.4rem] lg:text-[2rem] leading-none;
  font-weight: 600;
}

.bg-hero {
  background-image: url(./assets/spacejoy-c0JoR_-2x3E-unsplash.jpg);
}

.menuOpen {
  @apply h-[400px] p-9 transition-all duration-300;
}
